# Day 11 ( Practice )
---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
sns.set()

In [4]:
pd.read_excel('Summer_Olympic.xlsx')

Empty DataFrame
Columns: [Timestamp, Untitled Question]
Index: []

In [5]:
pd.read_excel('Summer_Olympic.xlsx', sheet=2)

Empty DataFrame
Columns: [Timestamp, Untitled Question]
Index: []

In [6]:
pd.read_excel?

In [7]:
df = pd.read_excel('Summer_Olympic.xlsx', sheetname='ALL MEDALISTS', skiprows=4)

In [8]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
df[df['NOC'] == 'BEL']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
205,Paris,1900,Aquatics,Water polo,"COHEN, Henri",BEL,Men,water polo,M,Silver
206,Paris,1900,Aquatics,Water polo,"DE BACKER, Jean",BEL,Men,water polo,M,Silver
207,Paris,1900,Aquatics,Water polo,"DE BEHR, Victor",BEL,Men,water polo,M,Silver
208,Paris,1900,Aquatics,Water polo,"FEYAERTS, Fernand",BEL,Men,water polo,M,Silver
209,Paris,1900,Aquatics,Water polo,"GREGOIRE, Oscar",BEL,Men,water polo,M,Silver
210,Paris,1900,Aquatics,Water polo,"MICHANT, Albert",BEL,Men,water polo,M,Silver
211,Paris,1900,Aquatics,Water polo,"SONNEMANS, Victor",BEL,Men,water polo,M,Silver
213,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au chapelet, 33m",M,Gold
219,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 33m",M,Gold
223,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 50m",M,Silver
224,Paris,1900,Archery,Archery,"FOULON, Emmanuel",BEL,Men,sur la perche à la herse,M,Gold
225,Paris,1900,Archery,Archery,"DRUART, Jr.",BEL,Men,sur la perche à la herse,M,Silver
227,Paris,1900,Archery,Archery,"GLINEUX, Louis",BEL,Men,sur la perche à la pyramide,M,Bronze
348,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,high jump,X,Bronze
352,Paris,1900,Equestrian,Jumping,"HAEGEMAN, Aimé",BEL,Men,individual,X,Gold
353,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,individual,X,Silver
355,Paris,1900,Equestrian,Jumping,"VAN LANGHENDONCK, Constant",BEL,Men,long jump individual,X,Gold
378,Paris,1900,Football,Football,"DELBECQUE, Albert",BEL,Men,football,M,Bronze
379,Paris,1900,Football,Football,"KELECOM, R.",BEL,Men,football,M,Bronze
380,Paris,1900,Football,Football,"LEBOUTTE, Marcel",BEL,Men,football,M,Bronze
381,Paris,1900,Football,Football,LONDOT,BEL,Men,football,M,Bronze
382,Paris,1900,Football,Football,"MOREAU, Ernest",BEL,Men,football,M,Bronze
383,Paris,1900,Football,Football,"NEEFS, E.",BEL,Men,football,M,Bronze
384,Paris,1900,Football,Football,"PELGRIMS, Georges",BEL,Men,football,M,Bronze
385,Paris,1900,Football,Football,"RENIER, Alphonse",BEL,Men,football,M,Bronze
386,Paris,1900,Football,Football,"SPANNOGHE, E.",BEL,Men,football,M,Bronze
387,Paris,1900,Football,Football,"THORNTON, Erich",BEL,Men,football,M,Bronze
388,Paris,1900,Football,Football,VAN HEUCKELUM,BEL,Men,football,M,Bronze
452,Paris,1900,Rowing,Rowing,"BRUGGEMAN, Prospère",BEL,Men,eight with coxswain (8+),M,Silver
453,Paris,1900,Rowing,Rowing,"DE BISSCHOP, Jules",BEL,Men,eight with coxswain (8+),M,Silver
...,...,...,...,...,...,...,...,...,...,...
17165,Los Angeles,1984,Cycling,Cycling Track,"ILEGEMS, Roger",BEL,Men,Points Race,M,Gold
17665,Los Angeles,1984,Rowing,Rowing,"CROIS, Dirk",BEL,Men,double sculls (2x),M,Silver
17666,Los Angeles,1984,Rowing,Rowing,"DELOOF, Pierre Marie",BEL,Men,double sculls (2x),M,Silver
17814,Los Angeles,1984,Rowing,Rowing,"HAESEBROUCK, Ann",BEL,Women,single sculls (1x),W,Bronze
19135,Seoul,1988,Judo,Judo,"VAN DE WALLE, Robert",BEL,Men,86 - 95kg (half-heavyweight),M,Bronze
19390,Seoul,1988,Shooting,Shooting,"PEETERS, Frans",BEL,Men,trap (125 targets),X,Bronze
20342,Barcelona,1992,Cycling,Cycling Track,"MATHY, Cedric",BEL,Men,Points Race,M,Bronze
20812,Barcelona,1992,Judo,Judo,"RAKELS, Heidi",BEL,Women,61 - 66kg (middleweight),W,Bronze
21002,Barcelona,1992,Rowing,Rowing,"BREDAEL, Annelies",BEL,Women,single sculls (1x),W,Silver
21321,Atlanta,1996,Aquatics,Swimming,"DEBURGHGRAEVE, Frederik",BEL,Men,100m breaststroke,M,Gold
22619,Atlanta,1996,Judo,Judo,"VAN BARNEVELD, Harry",BEL,Men,+ 100kg (heavyweight),M,Bronze
22631,Atlanta,1996,Judo,Judo,"LOMBA, Marisabel",BEL,Women,52 - 56kg (lightweight),W,Bronze
22637,Atlanta,1996,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,56 - 61kg (half-middleweight),W,Silver
22648,Atlanta,1996,Judo,Judo,"WERBROUCK, Ulla",BEL,Women,66 - 72kg (half-heavyweight),W,Gold
22845,Atlanta,1996,Sailing,Sailing,"GODEFROID, Sebastien",BEL,Men,single-handed dinghy (Finn),M,Silver
24029,Sydney,2000,Cycling,Cycling Track,"DE WILDE, Etienne",BEL,Men,Madison,M,Silver
24030,Sydney,2000,Cycling,Cycling Track,"GILMORE, Matthew",BEL,Men,Madison,M,Silver
24069,Sydney,2000,Cycling,Mountain Bike,"MEIRHAEGHE, Filip",BEL,Men,cross-country,M,Silver
24578,Sydney,2000,Judo,Judo,"SIMONS, Ann",BEL,Women,- 48kg (extra-lightweight),W,Bronze
24602,Sydney,2000,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,57 - 63kg (half-middleweight),W,Bronze
24981,Sydney,2000,Tennis,Tennis,"CALLENS, Els",BEL,Women,doubles,W,Bronze
24982,Sydney,2000,Tennis,Tennis,"VAN ROOST, Dominique",BEL,Women,doubles,W,Bronze
26008,Athens,2004,Cycling,Cycling Road,"MERCKX, Axel",BEL,Men,individual road race,M,Bronze
26588,Athens,2004,Judo,Judo,"HEYLEN, Ilse",BEL,Women,48 - 52kg (half-lightweight),W,Bronze
26984,Athens,2004,Tennis,Tennis,"HENIN-HARDENNE, Justine",BEL,Women,singles,W,Gold
27619,Beijing,2008,Athletics,Athletics,"BORLEE, Olivia",BEL,Women,4x100m relay,W,Silver
27620,Beijing,2008,Athletics,Athletics,"GEVAERT, Kim",BEL,Women,4x100m relay,W,Silver
27621,Beijing,2008,Athletics,Athletics,"MARIEN, Hanna",BEL,Women,4x100m relay,W,Silver
27622,Beijing,2008,Athletics,Athletics,"OUEDRAOGO, Elodie",BEL,Women,4x100m relay,W,Silver
27684,Beijing,2008,Athletics,Athletics,"HELLEBAUT, Tia",BEL,Women,high jump,W,Gold

In [10]:
df[df['NOC'] == 'BEL'].groupby('Medal')

In [12]:
df[df['NOC'] == 'BEL'].groupby('Medal').count()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender
Medal,,,,,,,,,
Bronze,150,150,150,150,150,150,150,150,150
Gold,91,91,91,91,91,91,91,91,91
Silver,167,167,167,167,167,167,167,167,167

cdf = pd.read_excel('Summer_Olympic.xlsx', sheetname='COUNTRY TOTALS', skiprows=4)

In [13]:
bdf = df[df['NOC'] == 'BEL']

In [14]:
bdf

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
205,Paris,1900,Aquatics,Water polo,"COHEN, Henri",BEL,Men,water polo,M,Silver
206,Paris,1900,Aquatics,Water polo,"DE BACKER, Jean",BEL,Men,water polo,M,Silver
207,Paris,1900,Aquatics,Water polo,"DE BEHR, Victor",BEL,Men,water polo,M,Silver
208,Paris,1900,Aquatics,Water polo,"FEYAERTS, Fernand",BEL,Men,water polo,M,Silver
209,Paris,1900,Aquatics,Water polo,"GREGOIRE, Oscar",BEL,Men,water polo,M,Silver
210,Paris,1900,Aquatics,Water polo,"MICHANT, Albert",BEL,Men,water polo,M,Silver
211,Paris,1900,Aquatics,Water polo,"SONNEMANS, Victor",BEL,Men,water polo,M,Silver
213,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au chapelet, 33m",M,Gold
219,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 33m",M,Gold
223,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 50m",M,Silver
224,Paris,1900,Archery,Archery,"FOULON, Emmanuel",BEL,Men,sur la perche à la herse,M,Gold
225,Paris,1900,Archery,Archery,"DRUART, Jr.",BEL,Men,sur la perche à la herse,M,Silver
227,Paris,1900,Archery,Archery,"GLINEUX, Louis",BEL,Men,sur la perche à la pyramide,M,Bronze
348,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,high jump,X,Bronze
352,Paris,1900,Equestrian,Jumping,"HAEGEMAN, Aimé",BEL,Men,individual,X,Gold
353,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,individual,X,Silver
355,Paris,1900,Equestrian,Jumping,"VAN LANGHENDONCK, Constant",BEL,Men,long jump individual,X,Gold
378,Paris,1900,Football,Football,"DELBECQUE, Albert",BEL,Men,football,M,Bronze
379,Paris,1900,Football,Football,"KELECOM, R.",BEL,Men,football,M,Bronze
380,Paris,1900,Football,Football,"LEBOUTTE, Marcel",BEL,Men,football,M,Bronze
381,Paris,1900,Football,Football,LONDOT,BEL,Men,football,M,Bronze
382,Paris,1900,Football,Football,"MOREAU, Ernest",BEL,Men,football,M,Bronze
383,Paris,1900,Football,Football,"NEEFS, E.",BEL,Men,football,M,Bronze
384,Paris,1900,Football,Football,"PELGRIMS, Georges",BEL,Men,football,M,Bronze
385,Paris,1900,Football,Football,"RENIER, Alphonse",BEL,Men,football,M,Bronze
386,Paris,1900,Football,Football,"SPANNOGHE, E.",BEL,Men,football,M,Bronze
387,Paris,1900,Football,Football,"THORNTON, Erich",BEL,Men,football,M,Bronze
388,Paris,1900,Football,Football,VAN HEUCKELUM,BEL,Men,football,M,Bronze
452,Paris,1900,Rowing,Rowing,"BRUGGEMAN, Prospère",BEL,Men,eight with coxswain (8+),M,Silver
453,Paris,1900,Rowing,Rowing,"DE BISSCHOP, Jules",BEL,Men,eight with coxswain (8+),M,Silver
...,...,...,...,...,...,...,...,...,...,...
17165,Los Angeles,1984,Cycling,Cycling Track,"ILEGEMS, Roger",BEL,Men,Points Race,M,Gold
17665,Los Angeles,1984,Rowing,Rowing,"CROIS, Dirk",BEL,Men,double sculls (2x),M,Silver
17666,Los Angeles,1984,Rowing,Rowing,"DELOOF, Pierre Marie",BEL,Men,double sculls (2x),M,Silver
17814,Los Angeles,1984,Rowing,Rowing,"HAESEBROUCK, Ann",BEL,Women,single sculls (1x),W,Bronze
19135,Seoul,1988,Judo,Judo,"VAN DE WALLE, Robert",BEL,Men,86 - 95kg (half-heavyweight),M,Bronze
19390,Seoul,1988,Shooting,Shooting,"PEETERS, Frans",BEL,Men,trap (125 targets),X,Bronze
20342,Barcelona,1992,Cycling,Cycling Track,"MATHY, Cedric",BEL,Men,Points Race,M,Bronze
20812,Barcelona,1992,Judo,Judo,"RAKELS, Heidi",BEL,Women,61 - 66kg (middleweight),W,Bronze
21002,Barcelona,1992,Rowing,Rowing,"BREDAEL, Annelies",BEL,Women,single sculls (1x),W,Silver
21321,Atlanta,1996,Aquatics,Swimming,"DEBURGHGRAEVE, Frederik",BEL,Men,100m breaststroke,M,Gold
22619,Atlanta,1996,Judo,Judo,"VAN BARNEVELD, Harry",BEL,Men,+ 100kg (heavyweight),M,Bronze
22631,Atlanta,1996,Judo,Judo,"LOMBA, Marisabel",BEL,Women,52 - 56kg (lightweight),W,Bronze
22637,Atlanta,1996,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,56 - 61kg (half-middleweight),W,Silver
22648,Atlanta,1996,Judo,Judo,"WERBROUCK, Ulla",BEL,Women,66 - 72kg (half-heavyweight),W,Gold
22845,Atlanta,1996,Sailing,Sailing,"GODEFROID, Sebastien",BEL,Men,single-handed dinghy (Finn),M,Silver
24029,Sydney,2000,Cycling,Cycling Track,"DE WILDE, Etienne",BEL,Men,Madison,M,Silver
24030,Sydney,2000,Cycling,Cycling Track,"GILMORE, Matthew",BEL,Men,Madison,M,Silver
24069,Sydney,2000,Cycling,Mountain Bike,"MEIRHAEGHE, Filip",BEL,Men,cross-country,M,Silver
24578,Sydney,2000,Judo,Judo,"SIMONS, Ann",BEL,Women,- 48kg (extra-lightweight),W,Bronze
24602,Sydney,2000,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,57 - 63kg (half-middleweight),W,Bronze
24981,Sydney,2000,Tennis,Tennis,"CALLENS, Els",BEL,Women,doubles,W,Bronze
24982,Sydney,2000,Tennis,Tennis,"VAN ROOST, Dominique",BEL,Women,doubles,W,Bronze
26008,Athens,2004,Cycling,Cycling Road,"MERCKX, Axel",BEL,Men,individual road race,M,Bronze
26588,Athens,2004,Judo,Judo,"HEYLEN, Ilse",BEL,Women,48 - 52kg (half-lightweight),W,Bronze
26984,Athens,2004,Tennis,Tennis,"HENIN-HARDENNE, Justine",BEL,Women,singles,W,Gold
27619,Beijing,2008,Athletics,Athletics,"BORLEE, Olivia",BEL,Women,4x100m relay,W,Silver
27620,Beijing,2008,Athletics,Athletics,"GEVAERT, Kim",BEL,Women,4x100m relay,W,Silver
27621,Beijing,2008,Athletics,Athletics,"MARIEN, Hanna",BEL,Women,4x100m relay,W,Silver
27622,Beijing,2008,Athletics,Athletics,"OUEDRAOGO, Elodie",BEL,Women,4x100m relay,W,Silver
27684,Beijing,2008,Athletics,Athletics,"HELLEBAUT, Tia",BEL,Women,high jump,W,Gold

In [18]:
bdf = bdf[['Edition', 'Gender', 'Medal']]

In [19]:
bdf

       Edition Gender   Medal
205       1900    Men  Silver
206       1900    Men  Silver
207       1900    Men  Silver
208       1900    Men  Silver
209       1900    Men  Silver
210       1900    Men  Silver
211       1900    Men  Silver
213       1900    Men    Gold
219       1900    Men    Gold
223       1900    Men  Silver
224       1900    Men    Gold
225       1900    Men  Silver
227       1900    Men  Bronze
348       1900    Men  Bronze
352       1900    Men    Gold
353       1900    Men  Silver
355       1900    Men    Gold
378       1900    Men  Bronze
379       1900    Men  Bronze
380       1900    Men  Bronze
381       1900    Men  Bronze
382       1900    Men  Bronze
383       1900    Men  Bronze
384       1900    Men  Bronze
385       1900    Men  Bronze
386       1900    Men  Bronze
387       1900    Men  Bronze
388       1900    Men  Bronze
452       1900    Men  Silver
453       1900    Men  Silver
...        ...    ...     ...
17165     1984    Men    Gold
17665     1984    Men  Silver
17666     1984    Men  Silver
17814     1984  Women  Bronze
19135     1988    Men  Bronze
19390     1988    Men  Bronze
20342     1992    Men  Bronze
20812     1992  Women  Bronze
21002     1992  Women  Silver
21321     1996    Men    Gold
22619     1996    Men  Bronze
22631     1996  Women  Bronze
22637     1996  Women  Silver
22648     1996  Women    Gold
22845     1996    Men  Silver
24029     2000    Men  Silver
24030     2000    Men  Silver
24069     2000    Men  Silver
24578     2000  Women  Bronze
24602     2000  Women  Bronze
24981     2000  Women  Bronze
24982     2000  Women  Bronze
26008     2004    Men  Bronze
26588     2004  Women  Bronze
26984     2004  Women    Gold
27619     2008  Women  Silver
27620     2008  Women  Silver
27621     2008  Women  Silver
27622     2008  Women  Silver
27684     2008  Women    Gold

[408 rows x 3 columns]

In [20]:
bdf.set_index(['Edition', 'Gender'])

                 Medal
Edition Gender
1900    Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men       Gold
        Men       Gold
        Men     Silver
        Men       Gold
        Men     Silver
        Men     Bronze
        Men     Bronze
        Men       Gold
        Men     Silver
        Men       Gold
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Silver
        Men     Silver
...                ...
1984    Men       Gold
        Men     Silver
        Men     Silver
        Women   Bronze
1988    Men     Bronze
        Men     Bronze
1992    Men     Bronze
        Women   Bronze
        Women   Silver
1996    Men       Gold
        Men     Bronze
        Women   Bronze
        Women   Silver
        Women     Gold
        Men     Silver
2000    Men     Silver
        Men     Silver
        Men     Silver
        Women   Bronze
        Women   Bronze
        Women   Bronze
        Women   Bronze
2004    Men     Bronze
        Women   Bronze
        Women     Gold
2008    Women   Silver
        Women   Silver
        Women   Silver
        Women   Silver
        Women     Gold

[408 rows x 1 columns]

In [21]:
bdf.set_index(['Edition', 'Gender'], inplace=True)

In [24]:
bdf.loc[1984]

         Medal
Gender
Women   Bronze
Men       Gold
Men     Silver
Men     Silver
Women   Bronze

In [25]:
bdf.loc[1984, 'Women']

/home/idwaker/Shire/Anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

                 Medal
Edition Gender
1984    Women   Bronze
        Women   Bronze

In [26]:
df[(df['Edition'] == 1900)]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
151,Paris,1900,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,1500m freestyle,M,Bronze
152,Paris,1900,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,1500m freestyle,M,Gold
153,Paris,1900,Aquatics,Swimming,"WAHLE, Otto",AUT,Men,1500m freestyle,M,Silver
154,Paris,1900,Aquatics,Swimming,"DROST, Johannes",NED,Men,200m backstroke,M,Bronze
155,Paris,1900,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m backstroke,M,Gold
156,Paris,1900,Aquatics,Swimming,"RUBERL, Karl",AUT,Men,200m backstroke,M,Silver
157,Paris,1900,Aquatics,Swimming,"RUBERL, Karl",AUT,Men,200m freestyle,M,Bronze
158,Paris,1900,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m freestyle,M,Gold
159,Paris,1900,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,200m freestyle,M,Silver
160,Paris,1900,Aquatics,Swimming,"KEMP, Peter",GBR,Men,200m obstacle event,M,Bronze
161,Paris,1900,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m obstacle event,M,Gold
162,Paris,1900,Aquatics,Swimming,"WAHLE, Otto",AUT,Men,200m obstacle event,M,Silver
163,Paris,1900,Aquatics,Swimming,HOUBEN,FRA,Men,200m team swimming,M,Bronze
164,Paris,1900,Aquatics,Swimming,"LEUILLIEUX, Jean",FRA,Men,200m team swimming,M,Bronze
165,Paris,1900,Aquatics,Swimming,"MARTIN, Louis",FRA,Men,200m team swimming,M,Bronze
166,Paris,1900,Aquatics,Swimming,"MERCHEZ, Désiré",FRA,Men,200m team swimming,M,Bronze
167,Paris,1900,Aquatics,Swimming,TARTARA,FRA,Men,200m team swimming,M,Bronze
168,Paris,1900,Aquatics,Swimming,"FREY, Julius",GER,Men,200m team swimming,M,Gold
169,Paris,1900,Aquatics,Swimming,"HAINLE, Max",GER,Men,200m team swimming,M,Gold
170,Paris,1900,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m team swimming,M,Gold
171,Paris,1900,Aquatics,Swimming,"SCHÖNE, Max",GER,Men,200m team swimming,M,Gold
172,Paris,1900,Aquatics,Swimming,"VON PETERSDORFF, Herbert",GER,Men,200m team swimming,M,Gold
173,Paris,1900,Aquatics,Swimming,BERTRAND,FRA,Men,200m team swimming,M,Silver
174,Paris,1900,Aquatics,Swimming,CADET,FRA,Men,200m team swimming,M,Silver
175,Paris,1900,Aquatics,Swimming,"HOCHEPIED, Maurice",FRA,Men,200m team swimming,M,Silver
176,Paris,1900,Aquatics,Swimming,"HOCHEPIED, Victor",FRA,Men,200m team swimming,M,Silver
177,Paris,1900,Aquatics,Swimming,VERBECKE,FRA,Men,200m team swimming,M,Silver
178,Paris,1900,Aquatics,Swimming,"MARTIN, Louis",FRA,Men,4000m freestyle,M,Bronze
179,Paris,1900,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,4000m freestyle,M,Gold
180,Paris,1900,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,4000m freestyle,M,Silver
...,...,...,...,...,...,...,...,...,...,...
633,Paris,1900,Tennis,Tennis,"DE GARMENDIA, Basil Spalding",ZZX,Men,doubles,M,Silver
634,Paris,1900,Tennis,Tennis,"DECUGIS, Max",ZZX,Men,doubles,M,Silver
635,Paris,1900,Tennis,Tennis,"DOHERTY, Hugh Lawrence",ZZX,Men,mixed doubles,X,Bronze
636,Paris,1900,Tennis,Tennis,"WARDEN, Archibald A.",ZZX,Men,mixed doubles,X,Bronze
637,Paris,1900,Tennis,Tennis,"DOHERTY, Reginald Frank",GBR,Men,mixed doubles,X,Gold
638,Paris,1900,Tennis,Tennis,"MAHONY, Harold Sergerson",ZZX,Men,mixed doubles,X,Silver
639,Paris,1900,Tennis,Tennis,"JONES, Marion",ZZX,Women,mixed doubles,X,Bronze
640,Paris,1900,Tennis,Tennis,"ROSENBAUM, Hedwig",ZZX,Women,mixed doubles,X,Bronze
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
642,Paris,1900,Tennis,Tennis,"PREVOST, Hélène",ZZX,Women,mixed doubles,X,Silver
643,Paris,1900,Tennis,Tennis,"DOHERTY, Reginald Frank",GBR,Men,singles,M,Bronze
644,Paris,1900,Tennis,Tennis,"NORRIS, Arthur B.J.",GBR,Men,singles,M,Bronze
645,Paris,1900,Tennis,Tennis,"DOHERTY, Hugh Lawrence",GBR,Men,singles,M,Gold
646,Paris,1900,Tennis,Tennis,"MAHONY, Harold Sergerson",GBR,Men,singles,M,Silver
647,Paris,1900,Tennis,Tennis,"JONES, Marion",USA,Women,singles,W,Bronze
648,Paris,1900,Tennis,Tennis,"ROSENBAUM, Hedwig",BOH,Women,singles,W,Bronze
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
650,Paris,1900,Tennis,Tennis,"PREVOST, Hélène",FRA,Women,singles,W,Silver
651,Paris,1900,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,tug of war,M,Gold
652,Paris,1900,Tug of War,Tug of War,"NILSSON, August",ZZX,Men,tug of war,M,Gold
653,Paris,1900,Tug of War,Tug of War,"SCHMIDT, Eugen",ZZX,Men,tug of war,M,Gold
654,Paris,1900,Tug of War,Tug of War,"SÖDERSTRÖM, Gustaf",ZZX,Men,tug of war,M,Gold
655,Paris,1900,Tug of War,Tug of War,"STAAF, Karl Gustav",ZZX,Men,tug of war,M,Gold
656,Paris,1900,Tug of War,Tug of War,"WINCKLER, Charles",ZZX,Men,tug of war,M,Gold
657,Paris,1900,Tug of War,Tug of War,"BASSET, Pierre",FRA,Men,tug of war,M,Silver
658,Paris,1900,Tug of War,Tug of War,"COLLAS, Jean",FRA,Men,tug of war,M,Silver
659,Paris,1900,Tug of War,Tug of War,"GONDOUIN, Charles",FRA,Men,tug of war,M,Silver
660,Paris,1900,Tug of War,Tug of War,"HENRIQUEZ DE ZUBIERRA, Constantin",FRA,Men,tug of war,M,Silver
661,Paris,1900,Tug of War,Tug of War,"ROFFO, Joseph",FRA,Men,tug of war,M,Silver
662,Paris,1900,Tug of War,Tug of War,"SARRADE, Emile",FRA,Men,tug of war,M,Silver

In [27]:
bdf.iloc[0]

Medal    Silver
Name: (1900, Men), dtype: object

In [29]:
bdf.describe()

         Medal
count      408
unique       3
top     Silver
freq       167

In [30]:
bdf

                 Medal
Edition Gender
1900    Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men     Silver
        Men       Gold
        Men       Gold
        Men     Silver
        Men       Gold
        Men     Silver
        Men     Bronze
        Men     Bronze
        Men       Gold
        Men     Silver
        Men       Gold
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Bronze
        Men     Silver
        Men     Silver
...                ...
1984    Men       Gold
        Men     Silver
        Men     Silver
        Women   Bronze
1988    Men     Bronze
        Men     Bronze
1992    Men     Bronze
        Women   Bronze
        Women   Silver
1996    Men       Gold
        Men     Bronze
        Women   Bronze
        Women   Silver
        Women     Gold
        Men     Silver
2000    Men     Silver
        Men     Silver
        Men     Silver
        Women   Bronze
        Women   Bronze
        Women   Bronze
        Women   Bronze
2004    Men     Bronze
        Women   Bronze
        Women     Gold
2008    Women   Silver
        Women   Silver
        Women   Silver
        Women   Silver
        Women     Gold

[408 rows x 1 columns]

In [31]:
bdf['Medal'] = 3 if bdf['Medal'] == 'Silver' else bdf['Medal']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
bdf['Medal'].apply(lambda row: print(row))

Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Silver
Gold
Silver
Bronze
Bronze
Gold
Silver
Gold
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Gold
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Bronze
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Bronze
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Gold
Gold
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Bronze
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Silver
Bronze
Gold
Gold
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Bronze
Gold
Bronze
Gold
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Gold
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Gold
Bronze
Bronze
Silver
Gold
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Silver
Silver
Silver
Gold

Edition  Gender
1900     Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
                   ...
1984     Men       None
         Men       None
         Men       None
         Women     None
1988     Men       None
         Men       None
1992     Men       None
         Women     None
         Women     None
1996     Men       None
         Men       None
         Women     None
         Women     None
         Women     None
         Men       None
2000     Men       None
         Men       None
         Men       None
         Women     None
         Women     None
         Women     None
         Women     None
2004     Men       None
         Women     None
         Women     None
2008     Women     None
         Women     None
         Women     None
         Women     None
         Women     None
Name: Medal, dtype: object

In [34]:
def medal_value(row):
    if row == 'Gold':
        return 3
    elif row == 'Silver':
        return 2
    else:
        return 1

In [35]:
bdf['Medal'] = bdf['Medal'].apply(medal_value)

/home/idwaker/Shire/Anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [36]:
bdf

                Medal
Edition Gender
1900    Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         3
        Men         3
        Men         2
        Men         3
        Men         2
        Men         1
        Men         1
        Men         3
        Men         2
        Men         3
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         2
        Men         2
...               ...
1984    Men         3
        Men         2
        Men         2
        Women       1
1988    Men         1
        Men         1
1992    Men         1
        Women       1
        Women       2
1996    Men         3
        Men         1
        Women       1
        Women       2
        Women       3
        Men         2
2000    Men         2
        Men         2
        Men         2
        Women       1
        Women       1
        Women       1
        Women       1
2004    Men         1
        Women       1
        Women       3
2008    Women       2
        Women       2
        Women       2
        Women       2
        Women       3

[408 rows x 1 columns]

In [37]:
bdf.apply(lambda row: print(row))

Edition  Gender
1900     Men       2
         Men       2
         Men       2
         Men       2
         Men       2
         Men       2
         Men       2
         Men       3
         Men       3
         Men       2
         Men       3
         Men       2
         Men       1
         Men       1
         Men       3
         Men       2
         Men       3
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       1
         Men       2
         Men       2
                  ..
1984     Men       3
         Men       2
         Men       2
         Women     1
1988     Men       1
         Men       1
1992     Men       1
         Women     1
         Women     2
1996     Men       3
         Men       1
         Women     1
         Women     2
         Women     3
         Men       2
2000     Men       2
         Men       2
         Men       2
         Women     1
         Women     1
         Women     1
         Women     1
2004     Men       1
         Women     1
         Women     3
2008     Women     2
         Women     2
         Women     2
         Women     2
         Women     3
Name: Medal, dtype: int64

Medal    None
dtype: object

In [38]:
bdf.describe()

            Medal
count  408.000000
mean     1.855392
std      0.755761
min      1.000000
25%      1.000000
50%      2.000000
75%      2.000000
max      3.000000

In [39]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [42]:
df[['Gender', 'Medal']].groupby('Gender').describe()

                Medal
Gender
Men    count    21721
       unique       3
       top       Gold
       freq      7365
Women  count     7495
       unique       3
       top     Bronze
       freq      2514

In [45]:
df[['Gender', 'Medal']].groupby(['Medal']).describe()

              Gender
Medal
Bronze count    9689
       unique      2
       top       Men
       freq     7175
Gold   count    9850
       unique      2
       top       Men
       freq     7365
Silver count    9677
       unique      2
       top       Men
       freq     7181

In [47]:
df.groupby(['Medal', 'Gender']).describe()

                         Edition
Medal  Gender
Bronze Men    count  7175.000000
              mean   1963.548990
              std      32.265410
              min    1896.000000
              25%    1936.000000
              50%    1972.000000
              75%    1992.000000
              max    2008.000000
       Women  count  2514.000000
              mean   1986.513922
              std      20.916829
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000
Gold   Men    count  7365.000000
              mean   1959.877257
              std      33.639979
              min    1896.000000
              25%    1928.000000
              50%    1964.000000
              75%    1988.000000
              max    2008.000000
       Women  count  2485.000000
              mean   1986.169819
              std      21.160345
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000
Silver Men    count  7181.000000
              mean   1960.532516
              std      33.450041
              min    1896.000000
              25%    1928.000000
              50%    1968.000000
              75%    1992.000000
              max    2008.000000
       Women  count  2496.000000
              mean   1986.152244
              std      21.021357
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000

In [48]:
df[['Edition', 'Gender', 'Medal']].groupby(['Gender', 'Medal']).describe()

                         Edition
Gender Medal
Men    Bronze count  7175.000000
              mean   1963.548990
              std      32.265410
              min    1896.000000
              25%    1936.000000
              50%    1972.000000
              75%    1992.000000
              max    2008.000000
       Gold   count  7365.000000
              mean   1959.877257
              std      33.639979
              min    1896.000000
              25%    1928.000000
              50%    1964.000000
              75%    1988.000000
              max    2008.000000
       Silver count  7181.000000
              mean   1960.532516
              std      33.450041
              min    1896.000000
              25%    1928.000000
              50%    1968.000000
              75%    1992.000000
              max    2008.000000
Women  Bronze count  2514.000000
              mean   1986.513922
              std      20.916829
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000
       Gold   count  2485.000000
              mean   1986.169819
              std      21.160345
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000
       Silver count  2496.000000
              mean   1986.152244
              std      21.021357
              min    1900.000000
              25%    1976.000000
              50%    1992.000000
              75%    2000.000000
              max    2008.000000

In [49]:
ndf = df[['Gender', 'Medal']]
ndf['Qty'] = 1

/home/idwaker/Shire/Anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [50]:
ndf

      Gender   Medal  Qty
0        Men    Gold    1
1        Men  Silver    1
2        Men  Bronze    1
3        Men    Gold    1
4        Men  Silver    1
5        Men  Bronze    1
6        Men    Gold    1
7        Men  Silver    1
8        Men  Bronze    1
9        Men    Gold    1
10       Men  Silver    1
11       Men  Bronze    1
12       Men  Bronze    1
13       Men    Gold    1
14       Men  Silver    1
15       Men    Gold    1
16       Men  Silver    1
17       Men  Bronze    1
18       Men    Gold    1
19       Men  Silver    1
20       Men  Bronze    1
21       Men    Gold    1
22       Men  Silver    1
23       Men  Bronze    1
24       Men    Gold    1
25       Men  Silver    1
26       Men  Bronze    1
27       Men    Gold    1
28       Men  Silver    1
29       Men    Gold    1
...      ...     ...  ...
29186    Men  Bronze    1
29187    Men    Gold    1
29188    Men  Silver    1
29189    Men  Bronze    1
29190    Men  Bronze    1
29191    Men    Gold    1
29192    Men  Silver    1
29193    Men  Bronze    1
29194    Men  Bronze    1
29195    Men    Gold    1
29196    Men  Silver    1
29197    Men  Bronze    1
29198    Men  Bronze    1
29199    Men    Gold    1
29200    Men  Silver    1
29201    Men  Bronze    1
29202    Men  Bronze    1
29203    Men    Gold    1
29204    Men  Silver    1
29205    Men  Bronze    1
29206    Men    Gold    1
29207    Men  Silver    1
29208    Men  Bronze    1
29209    Men  Bronze    1
29210    Men    Gold    1
29211    Men  Silver    1
29212    Men  Bronze    1
29213    Men  Bronze    1
29214    Men    Gold    1
29215    Men  Silver    1

[29216 rows x 3 columns]

In [51]:
ndf.groupby(['Gender', 'Medal']).describe()

                        Qty
Gender Medal
Men    Bronze count  7175.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0
       Gold   count  7365.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0
       Silver count  7181.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0
Women  Bronze count  2514.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0
       Gold   count  2485.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0
       Silver count  2496.0
              mean      1.0
              std       0.0
              min       1.0
              25%       1.0
              50%       1.0
              75%       1.0
              max       1.0

In [52]:
ndf.groupby(['Gender', 'Medal']).describe().unstack()

                  Qty
                count mean  std  min  25%  50%  75%  max
Gender Medal
Men    Bronze  7175.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
       Gold    7365.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
       Silver  7181.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
Women  Bronze  2514.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
       Gold    2485.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
       Silver  2496.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [53]:
pd.read_excel?

xlrd/xlwt

In [54]:
ndf.head()

  Gender   Medal  Qty
0    Men    Gold    1
1    Men  Silver    1
2    Men  Bronze    1
3    Men    Gold    1
4    Men  Silver    1

In [55]:
ndf.groupby('Medal').aggregate('sum')

         Qty
Medal
Bronze  9689
Gold    9850
Silver  9677

In [57]:
ndf.groupby('Medal').aggregate('mean').unstack()

     Medal
Qty  Bronze    1
     Gold      1
     Silver    1
dtype: int64